.catalog {
  font-family: SF Pro Display;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #2f3035;
  &__wrapper {
    @include borderblue;
    max-width: 1200px;
    padding: 0px 15px 10px;
    margin: 0 auto;
  }

  &__header {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #2f3035;
    margin-bottom: 25px;
  }

  &__filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 2px;
    padding-bottom: 7px;
    margin-bottom: 40px;
  }

  &__filter-list {
    display: flex;
    justify-content: space-between;
  }

  &__filter-list-item {
    border: none;
    background: #f0f0f4;
    border-radius: 3px;
    padding: 0 20px;
    margin-right: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #2f3035;
    cursor: pointer;
  }

  &__filter-sort {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0;
  }

  &__filter-btn-line {
    margin: 0;
    margin-left: 10px;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  }

  &__filter-btn-grid {
    margin: 0;
    margin-left: 35px;
    padding: 0;
    background-color: transparent; //убирает фон кнопки
    border: none;
    cursor: pointer;
    outline: none;
  }

  &__filter-select {
    width: 178px;
    padding: 5px 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #2f3035;
  }

  &__content-box {
    min-height: 100px;
    display: flex;
  }

  &__serch-form {
    @include borderblack;
    width: 299px;
  }

  &__product-list {
    @include borderblue;
    max-width: 870px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__product-item {
    width: 270px;
    height: 403px;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    outline: 1px solid red;
    background-color: gainsboro;
  }
}
