.main-footer {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #2f3035;
  background: #f0f0f4;

  &__wrapper {
    max-width: 1200px;
    padding: 45px 15px 19px;
    margin: 0 auto;
  }

  &__top {
    display: flex;
  }

  &__call {
    width: 295px;
  }

  &__call-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #2f3035;
    margin-bottom: 31px;
  }

  &__form {
    display: flex;
    justify-content: space-between;
  }

  &__input-text {
    width: 190px;
    background-color: #fff;
    border: none;
    line-height: 17px;
    font-size: 14px;
    padding: 0 12px 0 6px;
    &::placeholder {
      color: #c4c4c4;
    }
  }

  &__submit {
    font-family: "SFProDisplay-Semibold", sans-serif;
    text-transform: uppercase;
    padding: 10px 16px;
    border: none;
    background-color: #1c62cd;
    color: #fff;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.12em;
  }

  &__info {
    width: 330px;
    margin-left: auto;
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
  }

  &__suptitle {
    margin-bottom: 5px;
  }

  &__list {
    margin: 0;
    padding: 0;
    li {
      margin-bottom: 5px;
    }
  }

  &__social {
    padding-top: 35px;
    padding-right: 76px;
  }

  &__social-list {
    width: 210px;
    display: flex;
    justify-content: space-between;
  }
  &__social-item a {
    display: block;
    width: 30px;
    height: 30px;
    font-size: 0;
    line-height: 0;
  }

  &__social-inst {
    background: url("../icons/instagram.svg") center center/cover no-repeat;
  }

  &__social-vk {
    background: url("../icons/vkontakte.svg") center center/cover no-repeat;
  }

  &__social-face {
    background: url("../icons/facebook.svg") center center/cover no-repeat;
  }

  &__social-you {
    background: url("../icons/youtube.svg") center center/cover no-repeat;
  }

  &__bottom {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #48494d;
    display: flex;
    justify-content: center;
    padding: 40px 0;
  }

  &__bottom-link {
    margin-left: 75px;
    &:nth-child(1) {
      margin-right: 5px;
    }
  }
}
