.product-description {
  font-family: SF Pro Display;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #2f3035;

  &__wrapper {
    max-width: 1200px;
    padding: 5px 15px 19px;
    margin: 0 auto;
  }

  &__top-content {
    @include borderblue;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }

  &__picture {
    position: relative;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    &--sale::after {
      position: absolute;
      display: block;
      content: "sale";
      top: 0;
      left: 0;
      font-weight: normal;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0.12em;
      text-transform: uppercase;
      color: #ffffff;
      background-color: #1c62cd;
      padding: 13px 25px;
    }
  }

  &__img {
    margin-bottom: 20px;
  }

  &__img img {
    display: block;
  }

  &__old-price {
    position: relative;
    font-family: Barlow;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 5px;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    opacity: 0.6;
    &::after {
      display: block;
      position: absolute;
      content: "";
      width: 135px;
      height: 1px;
      background-color: #2f3035;
      bottom: 18px;
      left: 2px;
      transform: rotate(-9deg);
    }
  }

  &__new-price {
    margin-bottom: 15px;
    font-family: Barlow;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #2f3035;
  }

  &__link {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #1c62cd;
  }

  &__main {
    width: 570px;
  }

  &__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    color: #2f3035;
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
  }

  &__code {
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #2f3035;
    opacity: 0.6;
    margin-bottom: 23px;
  }

  &__button-list {
    display: flex;
    margin-bottom: 50px;
  }

  &__button-item {
    font-size: 0;
    line-height: 0;
    &--love {
      margin-right: 27px;
    }
    &--compare {
      margin-right: 22px;
    }
  }

  &__button-love {
    width: 24px;
    height: 22px;
    background: url("../icons/heart.svg") center center/cover no-repeat;
  }

  &__button-compare {
    width: 20px;
    height: 26px;
    background: url("../icons/compare.svg") center center/cover no-repeat;
  }

  &__tabs-wrapper {
    min-height: 320px;
    margin-bottom: 20px;
  }

  &__tab {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #2f3035;
    opacity: 0.6;
    margin-right: 42px;
    padding-bottom: 5px;
  }
  &__tab--active {
    text-shadow: 0 0 0.65px #000, 0 0 0.65px #000;
    opacity: 1;
    padding-bottom: 3px;
    border-bottom: 2px solid #1c62cd;
  }

  &__tab-item {
    padding-top: 23px;
    font-size: 20px;
    line-height: 24px;
    color: #2f3035;
  }

  &__feature-item {
    max-width: 440px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(47, 48, 53, 0.1);
    padding-bottom: 5px;
    margin-bottom: 15.5px;
    span {
      padding-right: 10px;
    }
    &-right {
      width: 135px;
    }
    &:last-child {
      margin-bottom: 14px;
    }
  }

  &__feature-more {
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
    color: #1c62cd;
  }

  &__buy {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #1c62cd;
    padding: 16px 55px;
  }
}
