.search-form {
  font-family: SF Pro Display;
  &__head {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #2f3035;
    margin-bottom: 48px;
    span {
      display: inline;
      position: relative;
      &::after {
        position: absolute;
        display: block;
        content: "";
        height: 3px;
        width: 100%;
        bottom: -8px;
        background-color: #1c62cd;
      }
    }
  }

  &__list {
    margin: 0;
    padding: 0;
  }

  &__item-togle {
    margin-bottom: 41px;
  }

  &__item-suptitle {
    position: relative;
    font-weight: 600;
    font-size: 16px;
    padding-left: 27px;
    margin-bottom: 15px;
    line-height: 19px;
    color: #2f3035;
    &::after {
      position: absolute;
      content: "";
      width: 12px;
      height: 8px;
      background: url("../icons/serchForm-arrow.svg") center center no-repeat;
      transform: rotate(90deg);
      left: 0;
      top: 8px;
      z-index: 10;
    }
    &--active::after {
      transform: rotate(180deg);
    }
  }

  &__item-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item-content--padding {
    padding-right: 70px;
  }

  &__checkbox {
    display: block;
    position: relative;
    padding-left: 27px;
    cursor: pointer;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #2f3035;
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
  }

  &__castom-checkbox {
    position: absolute;
    top: 2px;
    left: 0;
    height: 14px;
    width: 14px;
    border: 1px solid #dadada;
    border-radius: 3px;
  }

  &__checkbox:hover input ~ .search-form__castom-checkbox {
    background-color: #ccc;
  }

  &__checkbox input:checked ~ .search-form__castom-checkbox {
    background-color: #1c62cd;
    border-color: #1c62cd;
  }

  &__range-slider {
    position: relative;
    margin: 0;
    padding: 0;
    width: 95%;
    @include borderblue;

    .irs-line {
      height: 2px;
      border-color: #e0e0e0;
      top: 5px;
    }

    .irs-bar {
      top: 5px;
      height: 4px;
      background-color: #1c62cd;
    }

    .irs-handle {
      top: 3px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      border: none;
      background-color: #1c62cd;
      &:hover {
        background-color: #1c62cd;
      }
      &:active {
        background-color: #1c62cd;
      }
    }
  }

  &__range-input-box {
    position: absolute;
    bottom: 4px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }
  &__range-input {
    margin: 0;
    padding: 0;
    color: #2f3035;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    input {
      font-family: Barlow;
      border: none;
      margin: 0;
      padding: 0;
      display: inline;
      max-width: 60px;
      text-decoration-line: underline;
      color: #2f3035;
      cursor: pointer;
      outline: none;
    }
  }
}
