@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Regular.woff"),
    url("../fonts/SFProDisplay-Regular.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Medium.woff"),
    url("../fonts/SFProDisplay-Medium.woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Semibold.woff"),
    url("../fonts/SFProDisplay-Semibold.woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Bold.woff"),
    url("../fonts/SFProDisplay-Bold.woff2");
  font-weight: 700;
  font-style: normal;
}
